body {
    text-align: center;
}

a {
    text-decoration: none;
    color: skyblue;
}

html {
    scroll-behavior: smooth;
}

marquee {
    font-size: 20px;
}

ul li a {
    transition: all 0.25s;
}
